<!--Link de Formularios-->
<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
  <li class="nav-item bg-gris" role="presentation">
    <button class="nav-link active" id="redes" data-bs-toggle="tab" data-bs-target="#redes-pane" type="button" role="tab" aria-controls="redes-pane" aria-selected="true">
      <i class="fa-solid fa-circle-nodes"></i>
    </button>
  </li>
  <li class="nav-item bg-gris" role="presentation">
    <button class="nav-link" id="banner" data-bs-toggle="tab" data-bs-target="#banner-pane" type="button" role="tab" aria-controls="banner-pane" aria-selected="false">
      <i class="fa-solid fa-images"></i>
    </button>
  </li>
  <li class="nav-item bg-gris" role="presentation">
    <button class="nav-link" id="laboral" data-bs-toggle="tab" data-bs-target="#laboral-pane" type="button" role="tab" aria-controls="laboral-pane" aria-selected="false">
      <i class="fa-solid fa-helmet-safety"></i>
    </button>
  </li>
  <li class="nav-item bg-gris" role="presentation">
    <button class="nav-link" id="educacion" data-bs-toggle="tab" data-bs-target="#educacion-pane" type="button" role="tab" aria-controls="educacion-pane" aria-selected="false">
      <i class="fa-sharp fa-solid fa-graduation-cap"></i>
    </button>
  </li>
  <li class="nav-item bg-gris" role="presentation">
    <button class="nav-link" id="habilidades" data-bs-toggle="tab" data-bs-target="#habilidades-pane" type="button" role="tab" aria-controls="habilidades-tab-pane" aria-selected="false">
      <i class="fa-solid fa-bars-progress"></i>
    </button>
  </li>
  <li class="nav-item bg-gris" role="presentation">
    <button class="nav-link" id="proyectos" data-bs-toggle="tab" data-bs-target="#proyectos-pane" type="button" role="tab" aria-controls="proyectos-pane" aria-selected="false">
      <i class="fa-sharp fa-solid fa-code"></i>
    </button>
  </li>
</ul>
