 <!--Educación-->
<div class="container-fluid carousel-dark">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let formacion of formacionList">
      <div class="card text-bg-rosa mb-3 bordeCarrusel">
        <div class="card-header fs-4 text-center">Formación Academica</div>
        <div class="card-body">
          <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                <img [src]="formacion.image" alt="logo" class="img-fluid rounded-start" width="200px">
              </div>
              <div class="col-md-5">
                <div class="card-body text-center">
                  <h5 class="card-title">{{formacion.name}}</h5>
                  <p class="card-text">
                   {{formacion.description}} <br>
                    {{formacion.date}}
                  </p>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>     
  </div>