<app-formuformacion
*ngIf="hasRoute('/dashboard')"
[selection]="selection"
(onAddEducation)="addEducation($event)"
(updateItemEducationEvent)="updateEducation($event)"
>
</app-formuformacion>

<ngb-carousel >
  <ng-template ngbSlide *ngFor="let educacion of formacionList">
    <div class="card mb-3 carousel-inner" >
      <div class="row g-0">
        <div class="col-md-2"></div>
        <div class="col-md-3 align-self-center">
          <img [src]="educacion.image" alt="logo" class="img-fluid roundefloat-start w-50">
        </div>
        <div class="col-md-5">
          <div class="card-body text-center">
            <h5 class="card-title">{{educacion.name}}</h5>
            <p class="card-text">
              {{educacion.title}} <br>
              {{educacion.description}} <br>
              {{educacion.date}}
            </p>
          </div>
          <div class="mb-3" *ngIf="hasRoute('/dashboard')" >            
            <button type="button" class="btn btn-danger" (click)="deleteEducation(educacion)">Eliminar</button>          
            <button type="button" class="btn btn-primary" (click)="onEducationSelected(educacion)">Seleccionar</button>
          </div>
        </div>
        <div class="col-md-2">
          <div *ngIf="selection?.name" >
            <p>Su Selección es: {{ selection.name | titlecase }}</p>    
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel> 
