  <form [formGroup]="infoForm">
  <div class="modal-content">
    <div class="text-center text-bg-rosa">
      <h5 class="fs-3">Información</h5>
    </div>
    <div class="container text-start">
      <div class="row my-2">
        <div class="col-3 my-2">
          <label for="backImage" class="form-label" >Imagen de Banner</label>
        </div>
        <div class="col-7 my-2">
          <input class="form-control" type="url" name="backImage" id="backImage" formControlName="backImage">
        </div>
        <div class="col-2 my-2">
          <button type="button" class="btn btn-primary" [disabled]="!selection?.backImage" (click)="onUpdateItemBackImage(selection, infoForm.value.backImage)">Modificar</button> 
        </div>      
        <div class="col-3 my-2">
          <label for="photo" class="form-label">Fotografia de Perfil</label>
        </div>
        <div class="col-7 my-2">
          <input class="form-control" type="url" name="photo" id="photo" formControlName="photo">
        </div> 
        <div class="col-2 my-2  ">
          <button type="button" class="btn btn-primary" [disabled]="!selection?.photo" (click)="onUpdateItemPhoto(selection, infoForm.value.photo)">Modificar</button>
        </div> 
        <div class="col-3 my-2">
          <label for="title" class="form-label">Titulo del Portfolio</label>
        </div>
        <div class="col-7 my-2">
          <input class="form-control" type="text" name="title" id="name" formControlName="title">
        </div>
        <div class="col-2 my-2">
          <button type="button" class="btn btn-primary" [disabled]="!selection?.title" (click)="onUpdateItemTitle(selection, infoForm.value.title)">Modificar</button> 
        </div>      
        <div class="col-3 my-2">
          <label for="name" class="form-label">Nombre del Perfil</label>
        </div>
        <div class="col-7 my-2">
          <input class="form-control" type="text" name="name" id="name" formControlName="name">
        </div> 
        <div class="col-2 my-2 ">
          <button type="button" class="btn btn-primary" [disabled]="!selection?.name" (click)="onUpdateItemName(selection, infoForm.value.name)">Modificar</button>
        </div>
        <div class="col-3 my-2">
          <label for="about" class="form-label">Acerca de mi</label>
        </div>
        <div class="col-7 my-2">
          <input class="form-control" type="text" name="about" id="about" formControlName="about">
        </div> 
        <div class="col-2 my-2 ">
          <button type="button" class="btn btn-primary" [disabled]="!selection?.about" (click)="onUpdateItemAbout(selection, infoForm.value.about)">Modificar</button>
        </div>
      </div> 
    </div>
  </div>
</form>

