 <form  [formGroup]="redForm">
  <div class="container text-start border-bottom border-3 mb-3">
      <div class="row">
        <div class="col-2 my-2">
          <label for="logo" class="form-label">Red Social</label>
        </div>
        <div class="col-6 my-2 ">
          <select name="logo" id="logo" class="form-select form-select-sm" name="logo" formControlName="logo" required>
            <div *ngIf="redForm.get('logo')?.touched && redForm.get('logo')?.errors?.['required']" class="alert alert-danger">Este campo es requerido</div>
            <option selected disabled>Seleccione su opción</option>
            <option value="../assets/images/linkedin.svg">Linkedin</option>
            <option value="../assets/images/instagram.svg">Instagram</option>
            <option value="../assets/images/twitter.svg">Twitter</option>
          </select>
        </div>
        <div class="col-4 my-2"></div>
        <div class="col-2 my-2">
          <label for="name" class="form-label">URL</label>
        </div>  
        <div class="col-6 my-2">
          <input name="name" id="name" type="url" formControlName="name" class="form-control" id="name" placeholder="Ingresar URL de su Red Social" required>
          <div *ngIf="redForm.get('name')?.touched && redForm.get('name')?.errors?.['required']" class="alert alert-danger">Este campo es requerido</div>
        </div>
        <div class="col-4 my-2"></div>      
        <div class="modal-footer text-bg-rosa col-12 my-2">
          <button 
          class="btn btn-primary float-end" (click)="onUpdateItemNetwork(selection, redForm.value)" type="button" [disabled]="redForm.invalid">Modificar</button>
        </div>
      </div>
    </div>
</form>
