<app-formuhabilidades
*ngIf="hasRoute('/dashboard')"
[selection]="selection"
(onAddSkill)="addSkill($event)"
(updateItemSkillEvent)="updateSkill($event)"
>
</app-formuhabilidades>
<!--Habilidades-->
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card text-bg-rosa mb-3 bordeCarrusel">
      <div class="card-header fs-4 text-center">Habilidades</div>
      <div class="card-body">          
        <div class="card mb-3">
          <div class="container-fluid">
            <div class="row">
              <div class="d-flex justify-content-between flex-wrap">
                <div *ngFor="let habilidad of habilidades">
                  <p >{{ habilidad.name}}</p>
                  <div class="barra mx-auto" role="progressbar" [attr.aria-valuenow]="habilidad.val" aria-valuemin="0" aria-valuemax="100" style="--value:{{ habilidad.val }}"></div>
                  <div class="mb-3" *ngIf="hasRoute('/dashboard')" >            
                    <button type="button" class="btn btn-danger" (click)="deleteSkill(habilidad)">Eliminar</button>          
                     <button type="button" class="btn btn-primary" (click)="onSkillSelected(habilidad)">Seleccionar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div *ngIf="selection?.name" >
      <p>Su Selección es: {{ selection.name | titlecase }}</p>    
    </div>
  </div>
</div>
