<form  (ngSubmit)="onSubmitSkill()" [formGroup]="habilidadForm">
  <div class="modal-content border-bottom  border-3 mb-3">
    <div class="text-center text-bg-rosa">
      <h5 class="fs-3">Habilidades</h5>
    </div>
    <div class="container text-start">
      <div class="row my-1">
        <div class="col-6 col-sm-6 col-md-3 mb-2">
          <label for="name" class="form-label">Habilidad</label>
        </div>
        <div class="col-6 col-sm-6 col-md-9 mb-2">
          <input class="form-control" type="text" id="name" name="name" formControlName="name">
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <label for="val" class="form-label">Porcentaje en numero</label>
        </div>
        <div class="col-6 col-sm-6 col-md-9">
          <input class="form-control" type="number" name="val" id="val" formControlName="val">
        </div>
      </div>
    </div>
    <div class="modal-footer text-bg-rosa">
      <button type="submit" class="btn btn-primary" [disabled]="habilidadForm.invalid">Agregar</button>
      <button *ngIf="selection?.name" type="button" class="btn btn-primary" (click)="onUpdateItemSkill(selection, habilidadForm.value)">Actualizar Selección</button>
    </div>
  </div>
</form>