
<app-formuproyectos 
*ngIf="hasRoute('/dashboard')"

>
</app-formuproyectos>

<ngb-carousel>
  <ng-template ngbSlide *ngFor="let proyecto of proyectos">
    <div class="card mb-3 " >
      <div class="row g-0">
        <div class="col-md-2"></div>
        <div class="col-md-3 align-self-center">
          <img [src]="proyecto.image" alt="logo" class="img-fluid float-start w-50">
        </div>
        <div class="col-md-5">
          <div class="card-body text-center mb-3">
            <h5 class="card-title">{{proyecto.name}}</h5>
            <p class="card-text">
            {{proyecto.description}} <br>
            {{proyecto.date}} <br>
            {{proyecto.url}}
            </p>
          </div>

        </div>
        <div class="col-md-2">
          <div class="col-md-2">

          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel> 