 <!--Seccion Banner-->
 <section>
  <div class="container-fluid banner card-estandar" [ngStyle]="{'background-image': (' + seccionBanner.backImage + ')}">
    </div>
  <h1 class="text-center bajar text-white position-relative">
    <span style="--l:'Desarrollador Web Full Stack Jr';">{{ seccionBanner.title }}</span>
  </h1>
  <div class="container-fluid position-relative text-center mt-5">
    <div class="row">
      <div class="col-6 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-2 foto">
      </div>
      <div class="col-6 col-sm-9 col-md-9 col-lg-10 col-xl-10 col-xxl-10 align-self-end text-center">
        <h3 class="text-center fs-5 mt-5 pt-5">{{ seccionBanner.about }}</h3>
      </div>
    </div>
  </div>
  <h2>{{ seccionBanner.name }}</h2>
</section>
