<form method="post"> 
  <div class="modal-content">
    <div class="text-center text-bg-rosa">
      <h5 class="fs-3 ">Iniciar Sesión</h5>
    </div>
    <div class="modal-body">
      <div class="container text-start">
        <div class="row my-3">
          <div class="col-3">
            <label for="email" class="form-label" >Correo Electronico</label>
          </div>
          <div class="col-9">
            <input type="email" class="form-control" id="email" name="email"  placeholder="name@example.com" [(ngModel)]="email">
          </div>
          <div class="col-3">
            <label for="password" class="form-label" >Contraseña</label>
          </div>
          <div class="col-9">
            <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer text-bg-rosa">
      <button type="submit" class="btn btn-primary w-100" (click)="login()">Iniciar Sesión</button>
    </div>
  </div>
</form>  