<app-formulaboral
*ngIf="hasRoute('/dashboard')"
[selection]="selection"
(onAddExperience)="addExperience($event)"
(updateItemExperienceEvent)="updateExperience($event)"
>
</app-formulaboral>

<ngb-carousel >
  <ng-template ngbSlide *ngFor="let experiencia of experienciaList">
    <div class="card mb-3 carousel-inner" >
      <div class="row g-0">
        <div class="col-md-2"></div>
        <div class="col-md-3 align-self-center">
          <img [src]="experiencia.image" alt="logo" class="img-fluid roundefloat-start w-50">
        </div>
        <div class="col-md-5">
          <div class="card-body text-center">
            <h5 class="card-title">{{experiencia.name}}</h5>
            <p class="card-text">
              {{experiencia.title}} <br>
              {{experiencia.description}} <br>
              {{experiencia.date}}
            </p>
          </div>
          <div class="mb-3" *ngIf="hasRoute('/dashboard')" >            
            <button type="button" class="btn btn-danger" (click)="deleteExperience(experiencia)">Eliminar</button>          
             <button type="button" class="btn btn-primary" (click)="onExperienceSelected(experiencia)">Seleccionar</button>
          </div>
        </div>
        <div class="col-md-2">
          <div *ngIf="selection?.name" >
            <p>Su Selección es: {{ selection.name | titlecase }}</p>    
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel> 
