<app-formulaboral *ngIf="hasRoute('/dashboard')"> </app-formulaboral>

<ngb-carousel>
  <ng-template ngbSlide *ngFor="let experiencia of experienciaList">
    <div class="card mb-3 carousel-inner">
      <div class="row g-0">
        <div class="col-md-2"></div>
        <div class="col-md-3 align-self-center">
          <img
            [src]="experiencia.image"
            alt="logo"
            class="img-fluid roundefloat-start w-50"
          />
        </div>
        <div class="col-md-5">
          <div class="card-body text-center">
            <h5 class="card-title">{{ experiencia.name }}</h5>
            <p class="card-text">
              {{ experiencia.title }} <br />
              {{ experiencia.description }} <br />
              {{ experiencia.date }}
            </p>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
