<body class="bg-rosa">
  <!--Navegación-->
  <section>
  <!--cinta-->
    <nav class="navbar nav-expand-lg bg-dark">
      <div class="container-fluid">
        <app-logo></app-logo>
        <ul class="btn-group" role="group">
          <app-botonlogout></app-botonlogout>
        </ul>
      </div>
    </nav>
  </section>
   <!-- Contenido de los Formularios -->
  <section>
    <div class="container text-center">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10 py-2 bg-white bg-opacity-75">
          <!-- Links de los formularios -->
            <app-formulista></app-formulista>
          <!--Secciones Editables-->
          <div class="tab-content" id="myTabContent">
            <!--Redes Sociales-->
            <div class="tab-pane fade show active" id="redes-pane" role="tabpanel" aria-labelledby="redes" tabindex="0">
              <app-item-redes></app-item-redes>
            </div>
            <!-- Banner -->
            <div class="tab-pane fade" id="banner-pane" role="tabpanel" aria-labelledby="banner" tabindex="0">
              <app-banner></app-banner>
            </div>
            <!-- Experiencia Laboral -->
            <div class="tab-pane fade" id="laboral-pane" role="tabpanel" aria-labelledby="laboral" tabindex="0">
            <app-item-experiencia></app-item-experiencia>
            </div>
            <!--Educación -->
            <div class="tab-pane fade" id="educacion-pane" role="tabpanel" aria-labelledby="educacion" tabindex="0">
            <app-item-formacion></app-item-formacion>
            </div>
            <!--Habilidades -->
            <div class="tab-pane fade" id="habilidades-pane" role="tabpanel" aria-labelledby="habilidades" tabindex="0">
              <app-item-habilidad></app-item-habilidad>
            </div>
            <!--Proyectos -->
            <div class="tab-pane fade" id="proyectos-pane" role="tabpanel" aria-labelledby="proyectos" tabindex="0">
              <app-item-proyecto></app-item-proyecto>
            </div>  
          </div>
        </div>
        <div class="col-1">
        </div>
      </div>
    </div>
  </section> 
</body> 
