<app-formuredes
*ngIf="hasRoute('/dashboard')"
[selection]="selection"
(updateItemNetworkEvent)="updateNetwork($event)"
></app-formuredes>

<li [ngClass]="{'active': red?.id === selection?.id, 'disabled': red?.id === selection?.id}"
class="btn btn-ligth" *ngFor="let red of misRedes">
  <a [attr.href]="red.name" target="_blank">
    <img class="logos" [src]="red.logo" width="22" height="22" fill="white" viewBox="0 0 16 16">
  </a>
  <div *ngIf="hasRoute('/dashboard')" class="row pb-2">
    <div class="col-2 mt-2">
      <button  class="btn btn-primary" (click)="onNetworkSelected(red)">Seleccione</button> 
    </div>
  </div>
</li>
<div *ngIf="hasRoute('/dashboard')" class="row pb-2">
  <div *ngIf="selection?.name" >
    <p>Su Selección es:{{ selection.name | titlecase }}</p>    
  </div>
</div>


